.CompletingTaskContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
}


.Block {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    background-color: #EDE7D7;
    
    border-radius: 16px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modalContent {
    padding: 20;
    border-radius: 16px;
    background-color: white;
    width: 600px;
}