.SignUpContainer {
    width: 100vw;
    height: 100vh;
    background: url("../../assets/authbg.jpg") no-repeat;
    margin: 0;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.centerBox {
    display: flex;
    background-color:white;
    padding-top: 45px;
    width: 468px;
    height: 545px;
    padding-left: 83px;
    padding-right: 83px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}