.inputContainer {
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid #c4c4c4;
}

.input {
    width: 100%;
    height: 56px;
    position: relative;
    padding: 0px 16px;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: #c4c4c4;
    outline: none;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
    -webkit-appearance: none;
}

.input::placeholder {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    color: #c4c4c4;
}